.profile-shimmer {
  // padding: 15px;
  background-color: #e1e4eb;
  // border-radius: 18px;
  .profile-shimmer-title {
    color: #000;
  }
  .shimmer-user {
    // margin-left: 10px;
    .user-img {
      margin-top: 80px;
    }
    .user-name {
      margin-top: 15px;
    }
  }
  .cards {
    margin-top: 60px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    .card {
      border: transparent;
      margin-right: 20px;
    }
  }

  .share-shimmer {
    background: #e7e9ef;
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
    border-radius: 4px;
  }


  .ratings-shimmer {
    background: #e7e9ef;
    margin-top: 35px;
    position: relative;
    padding: 20px;
    border-radius: 4px;

    .star-loading {
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      width: 46px;
      height: 46px;
      // background: red;
      background: #e7e9ef;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    .ratings-start {
      margin-bottom: 30px;
    }

    .ratings-middle {
      // margin-top: 30px;
      margin-left: 20px;
    }
    .ratings-end {
      margin-top: 50px;
      margin-left: 20px;
    }
  }

  .testimonials-shimmer {
    background: #e7e9ef;
    padding: 15px 20px;
    margin-top: 12px;
    border-radius: 4px;

    .inner-card {
      background: #e1e4eb;
      margin-top: 20px;
      border-radius: 18px;
      padding: 20px 30px;

      .right-item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;

        .first {
          background: #cfd4df;
          text-align: right;
        }
      }

      .middle-item {
        margin-top: 10px;
        background: #cfd4df;
      }

      .last-item {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .last-circle {
          background: #cfd4df;
        }

        .last-shimmer {
          margin-left: 10px;
          background: #cfd4df;
        }
      }
    }
  }



  .super-skills {
    display: flex;
    background: #e7e9ef;
    margin-top: 15px;
    border-radius: 4px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    .one-dim {
      display: flex;
      margin: 20px 0;
    }

    .super1,
    .super2 {
      background-color: #d6dae5;
    }

    .super-div {
      margin-left: 10px;
    }
  }

  .shimmer-single {
    background: #e7e9ef;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.super-skills-big {
  background: #e7e9ef;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  display: flex;

  .super-div {
    margin-left: 10px;
  }
}


.overflw_verticle {
  margin-right: 15px;
  border-radius: 12px;
  height: 111px !important;
}
.overflw_verticle_mb{
  margin-top: 20px;
  margin-bottom: 30px;

}
.circle-name{
  display: flex;
  align-items: center;
  .location {
    width: 60%;
    margin-left: 10px;
  }
}

.circle-name-testimonials {
  display: flex;
  // align-items: center;
  .location {
    width: 60%;
    margin-left: 10px;
  }
  .location-2 {
    width: 50%;
    margin-left: 10px;
  }
}