.leads_card_shimmer {
  color: #000;
  margin-bottom: 26px;
  .leads_card_shimmer_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;

    .left_title{
      display: inline-flex;
        .send{
            color: #000;
           // margin-left: 20px;
           // margin-top: 2px;
        }
    }
    .leads-reply-back1{
      margin-right: 23px;
      margin-left: 9px;
    }
    .spiner-margin1{
      margin-right: 12px;
      margin-top: 5px;
      margin-left: 9px;
    }
    .right_title{
        background-color: #147BFF;
        padding: 5px 10px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .download{
            font-size: 10px;
            font-weight: 500;
            line-height: 15px;
            color: white;
            margin-left: 7px;

        }
        .download-elred-Spinner{
          height: 10px;
          width: 10px;
          margin-left: 6px;
        }
    }
  }
  .leadscard {

    width: 90%;
    height: 365px;
    background-color: #e1e4eb;
        margin: 0 auto;
    border-radius: 12px;
    margin-top: 8px;

    .top_leadscard {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      .left_side {
        display: flex;
        align-items: center;

        .name_designation {
          margin-left: 10px;
          .name_shimmer,
          .designation_shimmer {
            line-height: 0;
          }
        }
      }
    }

    #shimmer_hr_leads {
      border: 1px solid white;
      margin: 0 20px;
    }

    .leads_content_shimmer{
        width: 295px;
        height: 252px;
        // background: red;
        background: #FFFFFF38;

        margin: 0 auto;
        border-radius: 10px;
        padding: 16px;
        .top_shim{
            margin-bottom: 35px;
        }
    }
  }
  .input_wrapper {
    background: transparent;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 375px !important;
   
    // margin: auto;
    .input_comp {
      margin: 0px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f7f7f7;
      padding: 13px 18px;
      border-radius: 46px;
     // width: 90%;
      bottom: 0;
  
      .input_emoji {
       // width: 95%;
        display: flex;
        align-items: center;
        input {
          color: #000;
          margin-left: 10px;
          //width: 85%;
          outline: none;
          border: none;
          background-color: transparent;
         
          &::placeholder {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: #929292;
          }
        }
      }
  
      img {
        cursor: pointer;
      }
    }
  }
}


